name: Workflow to deploy container images in kubernetes clusters using Argo CD

on:
  push:
    branches:
       - main
env:
  

jobs:
   build-and-deploy:
      runs-on: self-hosted

      steps:
         - name: Checkout source code from github repository
           uses: actions/checkout@v4

         - name: build the container image
           
  
    

